/* Global Styling */
* {
    font-family: "Times New Roman", Times, serif;
}



/* Navbar styling */
.brandbackground {
    background-color: #59aaa5;
    padding: 20px;
    margin-left: 20px;
}
.navbar {
    padding: 0px;
}

/* About Me Page styling */

body {
    background-image: url("../images/memphismini.png");
}

header {
    background-color: white;
    margin-bottom: 0px;
    margin-top: 30px;
}

h1 {
    color: #59aaa5;
    font-weight: bolder;
}


.container{
    margin-top: 30px;
    background-color: rgb(230, 255, 250);
}

.card{
    margin-bottom:20px;
    border:1px solid black;
    box-shadow: 2px 2px 0px 0px #444;

}
.card img{border-bottom:1px solid #212529; }

.visit{
    text-align: center;
    margin:0;
}

.responsive{
    width: 100%;
    max-width: 500px;
    height: auto;
}

.pictures {
    padding: 20px;
}

.column {
    float: left;
    width: 25%;
  }


  /* Footer , border not working and not sure why yet*/

  /* footer{
	position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(114, 106, 106);
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: lightgray;
    padding-top: 40px;
    padding-bottom: 60px;
    border-top: #59aaa5;
    border-width: 5px;
} */

footer
{
    position:fixed;
    bottom:0;
    width:100%;
    padding:20px 0 20px 0;
    text-align: center;
    background-color: #21252940;
    color:#f2f3f480;

}

@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


